DATABASE_URL='postgresql://analytics_db_kzjh_user:dYcwcGGlA8bWKzSS2LDTjRbS2pH46gcO@dpg-d6d8n14tgctc73f05dug-a.oregon-postgres.render.com/analytics_db_kzjh?sslmode=require'
JWT_SECRET="supersecretkey"
PORT=3000
